* {
    margin: 0;
    padding: 0;
}
body {
    width:100%;
    position:absolute;
    font-family: 'Inter';
    background-color: #f0f4f8;
}
header {
    height: 80px;
    width: 100%;
    position:fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    color: aquamarine;
}
.banner {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -10;
    display: flex;
    background-image: url(Images/banner.png);
    background-size: initial;
    background-repeat: round;
}
.banner h1 {
    font-size: 60px;
    margin-left: 60px;
    margin-top: 150px;
    color: #f0f4f8;
}
.main {
    background-color: #b4bcc6;
    margin:400px auto 0 auto;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    padding-bottom: 60px;
}
.box {
    background-color:aqua;
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 60px;
}
.head {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}
.head button {
    background-color: transparent;
    border: none;
}
.display {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}
.card img {
    height: 200px;
    width: 190px;
    border-radius: 20px;
}
.bookinfo {
    font-size: 18px;
    text-align: center;
}